body {

  margin: 0;
  text-align: center;
  font-family:  'Merriweather', serif'';


}

h1 {
  font-size: 6em;
  margin-top: 50px;
  margin-bottom: 0px;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
a {
  color: #11999E;
}


.top-container {
    background-color: #E4F9F5;
    padding-top: 50px;
    position:relative;

}

.middle-container {



}
.bottom-container {



}

.top-cloud{
  position: relative;
  left: 200px;
}
.bottom-cloud {
  position: absolute;
}

.computer-img {
  border-radius: 2em;
  width: 10em;
  float: left;
  margin-right: 2%;
}
.music-img {
  width: 10em;
  float: right;
  margin-left: 2%;
}
.subtitle {
  font-weight: normal;
}
.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 1.5;
}

.music-img-description {

}
